backports.entry-points-selectable==1.1.0
cffi==1.14.6
click==8.0.1
cryptography==3.4.8
distlib==0.3.2
filelock==3.0.12
Flask==2.0.1
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
platformdirs==2.2.0
pycparser==2.20
PyMySQL==1.0.2
six==1.16.0
virtualenv==20.7.2
Werkzeug==2.0.1
