$hover_color: #c8cbcf;
$container_max_size: 200px;
$container_min_size: 100px;

.room {
    .r {
        flex-wrap: nowrap !important;
        .c {
            min-width: 150px;
            min-height: 200px;
            overflow: auto;
            &:hover {
                background-color: $hover_color;
            }

            &::-webkit-scrollbar {
                display: none;
            }
            
            .rack { 
                max-width: 100px;
                height: 30px;
                td {
                    padding: 1px 1px;
                    overflow: hidden;
                }
            }
        }
    }
}

#sidebar {
    width: 300px;
    left: auto;
    
    #sidebar-btn {
        height: 50px;
    }

    #sidebar-content {
        display: none;
        width: 300px;
    }
}

.increase-btn {
    display: none;
    justify-content: center;

    button {
        width: 40px;
        height: 40px;
    }
}

.popover {
    max-width: 700px;
}

.toast-position {
    position: fixed; 
    bottom: 0; 
    right: 0;
}

.success-btn {
    margin: 40px;
    position: fixed;
    bottom: 0;
    right: 0;
}
